extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Zainab Bansfield

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p I recently graduated from UCSB with a bachelors in Microbiology. In my final year of undergraduate studies I had the opportunity to work in a System’s Neuroscience lab as a part of the lab’s coding team. It is there that I learned how to code using Python and became interested in a career outside of biology research. Coding not only offered me a way to practice and cultivate my problem solving skills, it also got me to use both the analytical and creative parts of my brain. I am now an apprentice in the Apprenticeship Pathway Program and am learning to code full time to become a Full Stack Software Developer. 


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Python

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 734-239-0946
          li zainab.bansfield@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiT1_-vqNT4AhUlKkQIHSm-B-EQFnoECAcQAQ&url=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fzainab-bansfield-7621041ba&usg=AOvVaw0soNhHKR31e3wAdOuSfGKy') LinkedIn
        a.btn-link(href='https://github.com/zbansfield') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back