extends layout

block content
  section.desk
    h1= `${error.message} - Status: ${error.status}`
    img.desk-items(src='/static/images/404error.jpg')
    nav.nav
      a(href='/')
        span &larr;
        |  Go Home
